<%= I18n.translate("mailer.game_logged.title") %>
<%= "-" * I18n.translate("mailer.game_logged.title").size %>
<%= I18n.translate("mailer.game_logged.subtitle", { logger: logger.tag }) %>

<%= I18n.translate("mailer.game_logged.confirmation.content") %>
<%= ENV["BASE_URL"] %>/leagues/<%= game.league_id %>/games/<%= game.id %>/confirm/<%= confirmation_code %>
