<%= I18n.translate("mailer.game_logged.title") %>
<%= "-" * I18n.translate("mailer.game_logged.title").size %>
<%= I18n.translate("mailer.game_logged.subtitle", { logger: logger.tag }) %>

<% if won %>
  <%= I18n.translate("mailer.game_logged.confirmation.win_content") %>
<% else %>
  <%= I18n.translate("mailer.game_logged.confirmation.lose_content") %>
<% end %>

<%= ENV["BASE_URL"] %>/leagues/<%= game.league_id %>/games/<%= game.id %>/confirm/<%= confirmation_code %>
