<%= I18n.translate("mailer.open_tournament.title") %>
<%= "-" * I18n.translate("mailer.open_tournament.title").size %>
<%= I18n.translate("mailer.open_tournament.subtitle", { league_name: tournament.league!.name }) %>

<%= content %>

<%= ENV["BASE_URL"] %>/leagues/<%= tournament.league_id %>/tournaments/<%= tournament.id %>
