<%= I18n.translate("mailer.password_reset.title") %>
<%= "-" * I18n.translate("mailer.password_reset.title").size %>
<%= I18n.translate("mailer.password_reset.subtitle") %>

<% I18n.translate("mailer.password_reset.content").split("\n").each do |content_paragraph| %>
  <%= content_paragraph %>
<% end %>

<%= ENV["BASE_URL"] %>/reset_password/<%= reset_token %>/edit
