Welcome to Skirmish
-------------------
Hey #{player.tag}, sweet to see you sign up!

Just to confirm you're really who you say you are, please open the link to confirm your email address.
#{ENV["BASE_URL"]}/profile
