Welcome to Skirmish
-------------------
Hey #{player.tag}, it's game on!

Once last thing before we get you all set up, we need to confirm you're really who you say you are.
Please follow the link to confirm your email address.
#{ENV["BASE_URL"]}/profile
