.btn-toolbar {
  .btn {
    vertical-align: text-top;
  }
}

.btn-google-signin {
  display: flex;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  background-color: white;
  width: auto;

  &:hover {
    background-color: darken(white, 10%);
    border-color: darken(white, 10%);
  }

  .logo {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-image: url("../images/btn_google_light_normal_ios.svg");
    background-position: center;
  }

  .text {
    margin-top: 2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover {
    background-color: darken($brand-primary, 7%);
    border-color: darken($brand-primary, 7%);
  }
}

// Bootstrap overrides -- probably define the colours properly later...
.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: darken($brand-primary, 7%);
  border-color: darken($brand-primary, 7%);
}
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-success {
  background-color: $limegreen;
  border-color: $limegreen;

  &:hover {
    background-color: darken($limegreen, 10%);
    border-color: darken($limegreen, 10%);
  }
}

.btn-danger {
  background-color: $strawberry;
  border-color: $strawberry;

  &:hover {
    background-color: darken($strawberry, 10%);
    border-color: darken($strawberry, 10%);
  }
}

.btn-light {
  background-color: white;
  border-color: white;

  &:hover {
    background-color: darken(white, 10%);
    border-color: darken(white, 10%);
  }
}

.btn-dark {
  background-color: darken($dark-grey, 5%);
  border-color: darken($dark-grey, 5%);

  &:hover, &:focus {
    color: white;
    background-color: darken($dark-grey, 10%);
    border-color: darken($dark-grey, 10%);
  }
}

.btn-link {
  color: $babyblue;

  &:hover {
    color: darken($babyblue, 10%);
  }
}
