/* replace glow on focused inputs from bootstrap */
.form-control.is-invalid {
  box-shadow: 0 0 0 2px $strawberry;
  border: none;
}
.form-control:focus {
  box-shadow: 0 0 0 2px $babyblue;
}

form.main {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: $thundergrey;

  label {
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 2px;
  }

  input.form-control {
    border: 1px solid darken($dark-grey, 10%);
    background-color: rgba(0, 0, 0, 0.05);
    color: white;

    &:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  form.main {
    width: 100%;

    h2, .subheading {
      text-align: center;
    }

    .btn {
      width: 100%;

      & + .btn {
        margin-top: 0.5rem;
      }
    }
  }
}
