div.game-logger {
  display: flex;

  span.sentence-part {
    line-height: 1.5;
    font-weight: 400;
    padding: .375rem .75rem
  }

  .game-logger-field {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  div.game-logger {
    flex-direction: column;
  }

  .game-logger-field {
    margin-top: 1em;
  }
}

.game-results {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  span.versus {
    font-size: 28px;
    font-weight: bolder;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }

  span.rating {
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 20px;
    font-size: 20px;
  }

  span.rating.delta::before {
    content: "";
    background-size: contain !important;
    background-repeat: no-repeat !important;
    padding: 16px;
  }

  .winning-result {
    display: flex;
    text-align: center;
    width: 30%;

    span.rating {
      order: -1;  // left
    }

    span.rating.delta::before {
      background: url("https://png.icons8.com/metro/200/7bc950/sort-up.png");
      background-position-y: 12px;
    }
  }

  .losing-result {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    width: 30%;

    span.rating {
      order: 9999;  // right
    }

    span.rating.delta::before {
      background: url("https://png.icons8.com/metro/200/db2b39/sort-down.png");
      background-position-y: 10px;
    }
  }

  .player-result {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.gravatar {
      width: 200px;
      height: 200px;
      padding: 14px;
      border-radius: 50%;
      background-clip: padding-box;
      -webkit-border-radius: 50%;
      -webkit-background-clip: padding-box;
    }

    .name {
      font-size: 24px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .game-results {
    span.versus {
      font-size: 18px;
    }

    .losing-result, .winning-result {
      flex-direction: column;

      span.rating {
        order: 9999;
      }
    }

    .player-result {
      img.gravatar {
        width: 100px;
        height: 100px;
      }
    }
  }
}
