div.game-logger {
  display: flex;
  justify-content: center;

  span.sentence-part {
    line-height: 1.5;
    font-weight: 400;
    padding: .375rem .75rem
  }

  .game-logger-field {
    display: flex;

    select {
      min-width: 8em;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.game-logger {
    flex-direction: column;
  }

  .game-logger-field {
    margin-top: 1em;
  }
}

.game-overview {
  margin-bottom: 32px;
}

.game-results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .versus {
    img {
      width: 120px;
      height: 180px;
    }

    align-self: center;
    opacity: 0.5;
  }

  .loser-avatar {
    z-index: -1;

    span.droplet {
      font-size: 48px;
      position: relative;
      top: -20%;
      left: -20%;
    }
  }

  img.gravatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
  }
}

@media only screen and (max-width: 992px) {
  .game-results {
    .versus {
      img {
        width: 60px;
        height: 90px;
      }
    }

    .winner-avatar, .loser-avatar, img.gravatar {
      width: 120px;
      height: 120px;
    }

    .loser-avatar {
      span.droplet {
        font-size: 32px;
        top: -120px;
        left: 50px;
      }
    }
  }
}
