div.game-logger {
  display: flex;

  span.sentence-part {
    line-height: 1.5;
    font-weight: 400;
    padding: .375rem .75rem
  }

  .game-logger-field {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  div.game-logger {
    flex-direction: column;
  }

  .game-logger-field {
    margin-top: 1em;
  }
}

.game-results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  img.versus {
    width: 120px;
    height: 180px;
    align-self: center;
    background-image: url("../images/versus.png");
    background-size: contain;
  }

  .loser-avatar {
    z-index: -1;

    img.gravatar {
      filter: brightness(50%);
      -webkit-animation: fadeOpacityOut 2s ease-out;
      -moz-animation: fadeOpacityOut 2s ease-out;
      -o-animation: fadeOpacityOut 2s ease-out;
      animation: fadeOpacityOut 2s ease-out;
    }

    span.droplet {
      font-size: 48px;
      position: relative;
      top: -20%;
      left: -20%;
    }
  }

  @keyframes fadeOpacityOut {
    0% {
      filter: brightness(100%);
    }

    100% {
      filter: brightness(50%);
    }
  }

  @-webkit-keyframes fadeOpacityOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
  }

  img.gravatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
  }
}

.game-stats {
  table.player-stats {
    width: 100%;
    border-collapse: separate;
    border-radius: 6px;
    overflow: hidden;

    border: 1px solid darken($dark-grey, 10%);
    background-color: rgba(0, 0, 0, 0.05);
    color: white;

    margin-bottom: 6px;

    td.name {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .game-results {
    img.versus {
      width: 60px;
      height: 90px;
    }

    .winner-avatar, .loser-avatar, img.gravatar {
      width: 120px;
      height: 120px;
    }

    .loser-avatar {
      span.droplet {
        font-size: 32px;
        top: -120px;
        left: 50px;
      }
    }
  }
}
