.management.nav-tabs {
  margin-bottom: 16px;
  border-color: darken($dark-grey, 10%);

  .nav-item {
    .nav-link {
      &:hover {
        border-color: darken($dark-grey, 10%);
        background-color: darken($dark-grey, 5%);
      }

      &.active {
        color: white;
        border-color: $babyblue;
        background-color: $babyblue;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-item {
      display: flex;
      align-items: flex-end;

      .nav-link {
        font-size: 75%;
        color: white !important;
        display: inline-table;
        min-width: 100%;
        margin: 0;
        padding: 4px 8px;

        &.active {
          margin-bottom: 1px;
        }
      }
    }
  }
}

div.leagues {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a:hover {
    text-decoration: none !important;
  }

  .league {
    width: 300px;
    height: 220px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 8px 12px;
    margin-top: 0;
    text-align: center;
    transition: background-color 0.15s;
    color: white;
    border-radius: 6px;
    border: 1px solid darken($dark-grey, 10%);
    background-color: rgba(0, 0, 0, 0.05);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .icon {
      width: 64px;
      height: 64px;
      margin: 5px;
      padding: 12px;
      border-radius: 50%;
    }

    .title {
      margin-top: 8px;
      font-size: 120%;
      font-weight: bold;
    }

    .description {
      font-size: 110%;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .membership-count {
      color: #888;
    }
  }
}

@media only screen and (max-width: 768px) {
  div.leagues {
    justify-content: stretch;

    a { width: 100%; }
    .league { width: inherit; }
  }
}
