div.notifications {
  margin-bottom: 16px;

  a:hover {
    text-decoration: none !important;
  }

  a:first-child {
    .notification {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  a:last-child {
    .notification {
      margin-bottom: 8px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  .notification {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: -1px;
    transition: background-color 0.15s;
    color: white;
    border: 1px solid darken($dark-grey, 10%);
    background-color: rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .content ~ .icon {
      margin-left: 12px;
    }

    .icon {
      width: 32px;
      height: 32px;
      margin: 5px 12px 5px 5px;
      padding: 6px;
      background-color: #fd971f;
      border-radius: 50%;

      &.gravatar {
        padding: 0px;
      }
    }

    .time {
      flex-grow: 1;
      text-align: right;
      color: #888;
    }
  }
}
