.notifications {
  a:hover {
    text-decoration: none !important;
  }

  .notification {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #555;
    background-color: #fafafa;
    transition: background-color 0.25s;
    border-radius: 6px;
    border: 1px solid #ddd;

    &:hover {
      background-color: white;
    }

    .icon {
      width: 32px;
      height: 32px;
      margin: 5px 12px 5px 5px;
      padding: 6px;
      background-color: #fd971f;
      border-radius: 50%;
    }

    .time {
      flex-grow: 1;
      text-align: right;
      color: #888;
    }
  }
}
