#tournament-graph {
  height: 400px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #1d2124;
  border-radius: 6px;
}

.tournament-graph-legend {
  display: flex;
  justify-content: center;
  margin: 1em;

  .key {
    display: flex;
    align-items: center;

    & + .key {
      margin-left: 1.5em;
    }

    .circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin-right: 0.5em;

      &.undetermined {
        background-color: $thundergrey;
      }

      &.ready {
        background-color: $pumpkin;
      }

      &.played {
        background-color: $strawberry;
      }
    }
  }
}

@media (max-width: 600px) {
  #tournament-graph {
    height: 280px;
  }

  .tournament-graph-legend {
    flex-direction: column;
    justify-content: left;

    .key  + .key {
      margin-left: 0;
    }
  }
}

.tournament-closure {
  color: white;
  font-size: 1.25em;
  margin-bottom: 0.5em;

  .party-popper {
    cursor: pointer;
    display: inline-block;

    .party-popper-effects {
      position: absolute;
      transform: rotate(30deg) translate(1em, -3em);
      z-index: 1;
    }
    .party-popper-emoji {
      font-size: 1.5em;
      z-index: 2;
    }
  }
}
