#tournament-graph {
  height: 400px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #1d2124;
  border-radius: 6px;
}

@media (max-width: 600px) {
  #tournament-graph {
    height: 280px;
  }
}

.tournament-closure {
  color: white;
  font-size: 1.25em;
  margin-bottom: 0.5em;

  .party-popper {
    cursor: pointer;
    display: inline-block;

    .party-popper-effects {
      position: absolute;
      transform: rotate(30deg) translate(1em, -3em);
      z-index: 1;
    }
    .party-popper-emoji {
      font-size: 1.5em;
      z-index: 2;
    }
  }
}
