@import "game";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand1: #333;
$brand2: #f6f930;
$brand3: #3e6990;

$dark-grey: #333;

$red: #db2b39;
$green: #7bc950;
$blue: #5da9e9;
$yellow: #f3a712;

$amber-orange: #f4994b;

$background-color: $brand1;
$nav-item-color: $blue;

a.dropdown-item {
  display: flex;
  justify-content: space-between;
}

span.notification-count {
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #fd971f;
  padding: 0 6px;
  border-radius: 12px;
  margin-left: 8px;
  float: right;
  text-align: center;
  line-height: 20px;
}

form.single-btn {
  display: inline;
}

th.right, td.right {
  text-align: right;
}

.btn-toolbar {
  .btn {
    vertical-align: text-top;
  }
}

.btn-primary {
  // color: #fff;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: darken($blue, 10%);
    border-color: darken($blue, 10%);
  }
}

.btn-success {
  // color: #fff;
  background-color: $green;
  border-color: $green;

  &:hover {
    background-color: darken($green, 10%);
    border-color: darken($green, 10%);
  }
}

.btn-danger {
  // color: #fff;
  background-color: $red;
  border-color: $red;

  &:hover {
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
  }
}

.btn-light {
  background-color: #fff;
  border-color: #fff;

  &:hover {
    background-color: darken(#fff, 10%);
    border-color: darken(#fff, 10%);
  }
}

.btn-dark {
  background-color: $dark-grey;
  border-color: $dark-grey;

  &:hover {
    background-color: darken($dark-grey, 10%);
    border-color: darken($dark-grey, 10%);
  }
}

/*
 * Globals
 */
body {
  font-family: $font-stack;
  color: #555;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */
.masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

nav {
  .nav-profile, .nav-auth {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-left: auto;
  }

  img.gravatar {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
  }
}

.main {
  padding-top: 20px;
}

#logo {
  background-color: $background-color;
  background-image: url("../images/logo.png");
  background-size:contain;
  width: 200px;
  height:278px;
}

/* Hide logo in small screens */
@media (max-width: 767px) {
  #logo {
    display: none;
  }
}

.table td, .table th {
  vertical-align: middle;
}

.alert {
  margin-top: 1em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

tr.clickable-row {
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $blue;
  }

  transition: color .15s ease-in-out, background-color .15s ease-in-out//, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table-striped tbody tr.clickable-row:nth-of-type(2n+1):hover {
  color: white;
  background-color: $blue;
}

.navbar-nav {
  flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .masthead {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 56px;
    width: 100%;
    z-index: 999;
  }

  body {
    flex-direction: column-reverse;
    justify-content: space-between;

    .container {
      margin-bottom: 56px;
    }
  }

  .navbar-brand {
    display: none;
  }

  .gravatar {
    display: none;
  }

  nav.navbar {
    padding: 0;
  }

  span.notification-count {
    position: absolute;
    margin-left: 24px;
    margin-top: -36px;
  }

  .navbar-nav {
    justify-content: space-between;
  }

  .nav-profile, .nav-auth {
    margin-left: 0 !important;
  }

  .nav-item {
    padding: 4px 14px;

    &.signup { display: none; }

    .nav-link {
      // visibility: hidden;
      color: transparent !important;
      width: 32px;
      height: 32px;
      margin: 8px;
      background-size: contain !important;
      &.home { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/cottage.png"); }
      &.leagues { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/trophy.png"); }
      &.profile { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/gender-neutral-user.png"); }
      &.notifications { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/appointment-reminders.png") }
      &.login { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/enter-2.png") }
    }

    &.active {
      background-color: $blue;
    }
  }
}
