$font-stack: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;

$amber-orange: #f4994b;

// http://cryptokitties.wikia.com/wiki/Color_palette_%26_HEX_codes
$coral:	#45f0f4;
$babyblue:	#4eb4f9;
$topaz:	#0ba09c;
$mintgreen:	#43edac;
$limegreen:	#aef72f;
$babypuke:	#bcba5e;
$chestnut:	#a56429;
$strawberry:	#ef4b62;
$pumpkin:	#ffa039;
$gold:	#fcdf35;
$sizzurp:	#7c40ff;
$bubblegum:	#ef52d1;
$violet:	#ba8aff;
$thundergrey:	#828282;

$brand-primary: $strawberry;
$dark-grey: #343a40;

@import "game";
@import "league";
@import "tiles";
@import "mailer";
@import "authentication";
@import "profile";
@import "form";
@import "buttons";
@import "alert";
@import "home";
@import "tournament";

a.dropdown-item {
  display: flex;
  justify-content: space-between;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: $brand-primary;
  transition:all 0.2s ease;

  &:hover {
    color: darken($brand-primary, 7%);
  }
}

h2.btn-toolbar {
  .heading-text {
    margin-right: 32px;
  }
}

h3 {
  font-size: 28px;
  margin-top: 16px;
}

h6.section-header {
  font-size: 24px;
  margin-bottom: 16px;
}

.brand-logo {
  width: 50px;
  height: 50px;
  margin: -10px 0px -10px -10px;
  transition:all 0.2s ease;
}

.navbar-brand {
  &:hover {
    .brand-logo {
      -webkit-transform: scale(1.25) rotateZ(-15deg);
      -ms-transform: scale(1.25) rotateZ(-15deg);
      transform: scale(1.25) rotateZ(-15deg);
    }
  }
}

.party-popper {
  cursor: pointer;
  display: inline-block;

  .party-popper-effects {
    position: absolute;
    transform: rotate(30deg) translate(1em, -3em);
    z-index: 1;
  }
  .party-popper-emoji {
    font-size: 1.5em;
    z-index: 2;
  }
}

a.nav-link {
  background-image: linear-gradient($brand-primary, $brand-primary);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;

  &:hover {
    background-size: 100% 2px, auto;
  }
}

.btn.dropdown-toggle.dropdown-toggle-split {
  border-left: 1px solid rgba($dark-grey, 0.25) !important;
  margin-left: 0;
}

.dropdown-menu input[type=submit] {
  cursor: pointer;
}

.dropdown-item.danger {
  color: $strawberry;
}

.list-group-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid darken($dark-grey, 10%);

  &:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

textarea.bg-dark {
  color: white;
  border: none;
  background-color: darken($dark-grey, 5%) !important;

  &:focus {
    color: white;
  }
}

span.notification-count {
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: $pumpkin;
  padding: 0 6px;
  border-radius: 12px;
  margin-left: 8px;
  float: right;
  text-align: center;
  line-height: 20px;
}

form.single-btn {
  display: inline;
}

th.right, td.right {
  text-align: right;
}

.home.row {
  // animation fix
  overflow: hidden;
}

/*
 * Globals
 */
body {
  font-family: $font-stack;
  color: $thundergrey;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid darken($dark-grey, 10%);
}

pre {
  color: $thundergrey;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Fix some bootstrap borders for hover effects on split buttons */
.form-toggle-split {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 100%;
}

/*
 * Masthead for nav
 */
.masthead {
  padding: 12px 0;
}

nav {
  .navbar-split {
    flex-grow: 1;
  }

  .nav-profile, .nav-auth {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-left: auto;
  }

  img.gravatar {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
  }
}

.main {
  padding-top: 20px;
}

#logo {
  width: 200px;
  height: 278px;
  background-color: $dark-grey;
  background-image: url("../images/logo.png");
  background-size: contain;
}

.image-content {
  display: flex;

  .image {
    margin-right: 24px;
    flex-shrink: 0;
  }
}

#email-verification-check {
  width: 150px;
  height: 150px;
  background-image: url("../images/animat-checkmark-color.gif");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: 50%;
  background-position-y: 50%;
}

footer {
  font-size: 90%;

  hr {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .social-links {
    text-align: right;
  }
}

/* Hide logo in small screens */
@media (max-width: 767px) {
  #logo {
    display: none;
  }
}

.table td, .table th {
  vertical-align: middle;
}

.alert {
  margin-top: 1em;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

tr.clickable-row {
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $babyblue;
  }

  transition: color .15s ease-in-out, background-color .15s ease-in-out
}
.table-striped tbody tr.clickable-row:nth-of-type(2n+1):hover {
  color: white;
  background-color: $babyblue;
}

.navbar-nav {
  flex-direction: row;
  width: 100%;

  .dropdown-menu {
    position: absolute;
  }

  .nav-item-home {
    display: none;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: $babyblue;
  }
}

.toggle-button-group + .toggle-button-group {
  margin-left: 8px;
}

.social-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  background-color: white;

  &.gitlab {
    -webkit-mask: url(../images/gitlab.svg) no-repeat center;
    mask: url(../images/gitlab.svg) no-repeat center;
    background-color: $pumpkin;
  }

  &.github {
    -webkit-mask: url(../images/github.svg) no-repeat center;
    mask: url(../images/github.svg) no-repeat center;
    background-color: white;
  }

  &.gmail {
    -webkit-mask: url(../images/gmail.svg) no-repeat center;
    mask: url(../images/gmail.svg) no-repeat center;
    background-color: $strawberry;
  }
}

@media only screen and (max-width: 768px) {
  .masthead {
    background: $dark-grey;
    border-top: 1px solid darken($dark-grey, 10%);
    padding: 4px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 56px;
    width: 100%;
    z-index: 999;
  }

  footer {
    margin-bottom: 56px;

    .social-links {
      text-align: left;

      li {
        display:  flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        a {
          display: flex;
          flex-direction: row-reverse;
          text-align: left;

          .social-icon {
            margin-left: 0;
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  body {
    .container {
      overflow: hidden;
    }
  }

  .image-content {
    flex-direction: column;

    .image {
      margin: 24px auto;
    }
  }

  .navbar-brand {
    display: none;
  }

  nav {
    overflow: hidden;
    .navbar-split {
      display: none;
    }

    .gravatar {
      display: none;
    }
  }

  nav.navbar {
    padding: 0;

    .nav-item-home {
      display: inherit;
    }
  }

  span.notification-count {
    position: absolute;
    margin-left: 24px;
    margin-top: -36px;
  }

  .navbar-nav {
    justify-content: space-between;
  }

  .nav-profile, .nav-auth {
    margin-left: 0 !important;
  }

  .nav-item {
    border-radius: 50%;

    &.signup { display: none; }
    &.nav-log-game {
      background: $strawberry;
      border-radius: 50%;

      &.active {
        &::before {
          display: none;
        }
      }
    }

    .nav-link {
      color: transparent !important;
      width: 32px;
      height: 32px;
      margin: 8px;
      background-size: contain !important;

      &.home { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/cottage.png"); }
      &.leagues { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/baseball.png"); }
      &.tournaments { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/trophy.png"); }
      &.log-game { z-index: 1; background: url("https://png.icons8.com/ios-glyphs/160/ffffff/edit.png"); }
      &.profile, &.login { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/gender-neutral-user.png"); }
      &.notifications { background: url("https://png.icons8.com/ios-glyphs/160/ffffff/appointment-reminders.png") }
    }

    &.active {
      &::before {
        content: " ";
        position: absolute;
        width: 48px;
        height: 4px;
        margin-top: 44px;
        background-color: $strawberry;
      }
    }

    .dropdown-menu-wrapper {
      position: absolute;
      bottom: calc(100% - 5px);
      right: 0;

      .dropdown-menu {
        position: relative;
      }
    }
  }
}
